@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans text-sm text-gray-700;
}

/* Custom scrollbar styles */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}